main 
{
	width: 55%;
	border: 1px solid #c7e9ff;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #c7e9ff, #e0f3ff);
	box-shadow: 0px 0px 5px 2px #e0f3ff;
	padding: 1.5em;
	margin: 1.5em;
}

.saharian-debug-explanation {
margin-bottom: 2em;
}

.switchexample {
  position: relative;
  display: inline-block;
  width: 30px;
    height: 3px;
	padding: 1em;
	top: 0.5em;	
  /* left: 2em; */
}


.switch {
  display: block;
  padding: 1em;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;  
}

.switch::after {
	display: block;
    content: 'off'/'';
    margin-top: 1.5em;
    margin-left: 0.3em;
}

.switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;  
}

.checked {
  background-color: #f6b681;
  box-shadow: 2px 2px 2px black;  
}

.checked::after {
  content: 'on' / ''; 
}

.checked:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .switch {
  background-color: #F6B681;
}

input:checked + .switch::after {
  content: 'on' / '';
  top:2em;
}


input:focus + .switch {
  box-shadow: 2px 2px 2px black;
}

input:checked + .switch::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .switch {
  background-color: #F6B681;
}
