body 
{
	padding: 1.5em;
	background-color: white;
}

main 
{
	width: 55%;
	border: 1px solid #c7e9ff;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #c7e9ff, #e0f3ff);
	box-shadow: 0px 0px 5px 2px #e0f3ff;
	padding: 1.5em;
	margin: 1.5em;
}


.caption {
    margin-bottom: 1em;
    font-style: italic;
    display: block;
}

.table {
	overflow-x: auto;
	overflow-y: hidden;
	border-collapse: collapse;
}

.th {
  display: table-cell;
  font-weight: normal;
  padding: 0.5em;
  background-color: hsl(0, 0%, 28%);
  color: white;
  border: 1px solid hsl(0, 0%, 90%);
  text-align: center;
}

.tr {
  display: table-row;
}

.td, .th {
  padding: 0.5em;
  display: table-cell;
  border: 1px solid hsl(0, 0%, 90%);
  min-width: 8em;
}

.thead, .tbody {
  padding: 0px;
  display: table-row-group;
}


.tr:nth-child(odd) {
  background-color: hsl(0, 0%, 90%);
}

.tr:nth-child(even) {
  background-color: white;
}

